.container {
    min-width: 300px;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #00008b;
}

.pre {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: monospace;
    white-space: pre-line;
}

.bg {
    background: #fefaff;
}

.func {
    color: #00008b;
}

.docblock {
    color: #966aac;
    font-style: italic;
}

.pull-right {
    float: right;
    margin-bottom: 10px
}

button {
    border-radius: 25px;
    outline:none;
}

.pull-right button {
    border-color: #edd5ff;
    background-color: #fefaff;
}

.pull-right button:focus {
    border-color: #9e6ecd;
}

.pull-right button:hover,
.pull-right button:active {
    background-color: #f4cdff;
}